#Python caches
**/__pycache__/*

#Temporary files that will be moved in the future
scenes/*
test.py

#Saved model checkpoints, and created images
checkpoints/*
images/*

#Possible logs files from mujoco
MUJOCO_LOG.TXT

#Log files from the script
*.log
